.page {
  font-family: Roboto, 'Roboto Slab', Inter, 'Source Sans Pro', 'Open Sans', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page__upside {
  width: 100%;
  background-image: url('../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.png');
  background-repeat: no-repeat;
  background-size: cover;
}